body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  display: flex;
  justify-content: center;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 800px;
}

.Students{
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: space-between;
  width: 200px;
}

.AddStudent{
  display:flex;
  width: 250px;
  height: 25px;
  justify-content: space-between;
}

.AddStudent Button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 25px;
}

.TableStudent{
  margin-top: 20px;
}

*:focus { 
  outline: 0 !important;
  box-shadow:
    0 0 0 0rem #fff,
    0 0 0 0rem #069 !important;
}

.Students Button{
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .AddTodo{
  display: flex;
  justify-content: space-between;
} */